<table class="table table-dark">
    <thead>
        <tr>

            <th scope="col">License Number </th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Starting Date in days</th>
            <th scope="col">Eye Examination Date</th>
            <th><i class="fas fa-edit"></i> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{driver.licenseNum}}</td>
            <td>{{driver.fullName}}</td>
            <td>{{driver.phoneNum}}</td>
            <td>{{driver.dateBegin | date:'dd/MM/yyyy'}}</td>
            <td> {{driver.dateCheck | date:'dd/MM/yyyy'}}</td>
            <td>
                <button *ngIf="!editable" (click)="editable= !editable" class="btn btn-primary">Edit</button>
                <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myModal">Delete</button>
            </td>
        </tr>

        <tr *ngIf="editable">
            <td><input type="tel" [(ngModel)]="driver.licenseNum"   name="LicenseNumber" class="form-control"  maxlength="7"  aria-required="true"></td>
            <td><input [(ngModel)]="driver.fullName" class="form-control"  minlength="10" pattern="/^05\d([-]{0,1})\d{7}$/" type="tel" name="PhoneNumber"></td>
            <td><input [(ngModel)]="driver.phoneNum" maxlength="10" class="form-control" type="tel"></td>
            <td><input [(ngModel)]="driver.dateBegin" class="form-control" type="date"></td>
            <td> <input [(ngModel)]="driver.dateCheck" class="form-control" type="date"></td>
            <td> <button *ngIf="editable" (click)="updateDriver()"   type="button" class="btn btn-primary">Done</button>
            <button *ngIf="editable"  (click)="editable= !editable" type="button" class="btn btn-primary">Cancel</button> </td>
        </tr>
    </tbody>
</table>
<span id="editDriverError"></span>


<div class="modal fade" style="left: 5px;
    top: 227px;" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                You are going to Delete driver,are you sure?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)="deleteDriver()"  class="btn btn-danger" data-dismiss="modal">YES</button>
            </div>

        </div>
    </div>
</div>
